{% extends "base.html" %}
{% load static %}
{% block title %}Record List{% endblock %}

{% block main_content %}
{{ block.super }}
{% url 'add_record' as add_record_url %}
<section>
    <header class="row">
        {% if collection %}
        <div class="col-12 col-sm-8 mt-auto">
            <p class="text-muted mb-4 pt-3"><i class="fa fa-info-circle" aria-hidden="true"></i>
                {{ collection.description|default:"No description available." }}
            </p>
            <div class="card-title fs-3">{{collection}}</div>
            <p class="small">Owner: {{collection.username.name}}</p>
        </div>
        <div class="col-12 col-sm-4">
            <img src="{% static 'images/vinyl-placeholder.png' %}" alt="placeholder image">
        </div>
        <hr>
        {% endif %}
        <h2>Records list{% if collection %} - from collection: {{collection}}{%endif%}</h2>
    </header>
    <!-- show add/edit/delete buttons if logged in -->
    {% if user.is_authenticated %}
    <div class="d-flex row">
        {% if collection and user == collection.username.user %}
            <div class="col-6">
                <a class="w-100 m-2 btn btn-outline-primary btn-custom rounded-0"
                    href="{% url 'edit_collection' collection.id %}">Edit collection details</a>
            </div>
            <div class="col-6">
                <a class="w-100 m-2 btn btn-outline-primary btn-delete rounded-0"
                    href="{% url 'delete_collection' collection.id %}">Delete this collection</a>
            </div>
            <div class="col-12">
                <a class="w-100 m-2 btn btn-outline-primary btn-custom rounded-0"
                    href="{{add_record_url}}?collection={{collection.id}}">Add a Record</a>
            </div>            
        {% else %}
        <div class="col-12">
            <a class="w-100 m-2 btn btn-outline-primary btn-custom rounded-0"
                href="{{add_record_url}}">Add a Record</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <!-- table to show list of records -->
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr class="title-font">
                    <th>Title</th>
                    <th>B Side</th>
                    <th>Spindle</th>
                    <th>View Details {% if user.is_authenticated %} / Edit{%endif%}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for record in object_list %}
                <tr>
                    <td class="copy-bold text-nowrap">{{record}}</td>
                    <td>{{record.b_side}}</td>
                    <td>{% if record.large_hole %}Large{% else %}Small{% endif %}</td>
                    <td><a href="/record/{{record.slug}}">{{record.slug}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
{% block js_scripts %}
<!-- Bootstrap modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-custom">
            <div class="modal-header bg-danger">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">{{collection}}</div>
            </div>
            <div class="modal-footer">
                <a id="modalConfirm" href="#" class="btn btn-danger">Save changes</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- Modal end -->
<script src="{% static 'js/delete-collection.js'%}"></script>
{% endblock %}