{% extends "base.html" %}
{% block title %}Record List{% endblock %}

{% block content %}
    <h2>Records list{% if collection %} - from collection: {{collection}}{%endif%}</h2>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>B Side</td>
                <td>Spindle</td>
                <td>link</td>
            </tr>
        </thead>
        {% for record in object_list %}
        <tr>
            <td><strong>{{record}}</strong></td>
            <td>{{record.b_side}}</td>
            <td>{% if record.large_hole %}Large{% else %}Small{% endif %}</td>
            <td><a href="/record/{{record.slug}}">{{record.slug}}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}