<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record List</title>
</head>

<body>
    <h1>Records list - {% if collection %}{{collection}}{%endif%}</h1>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>B Side</td>
                <td>Spindle</td>
                <td>link</td>
            </tr>
        </thead>
        {% for record in object_list %}
        <tr>
            <td><h2>{{record}}</h2></td>
            <td>{{record.b_side}}</td>
            <td>{% if record.large_hole %}Large{% else %}Small{% endif %}</td>
            <td><a href="/record/{{record.slug}}">{{record.slug}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>