{% extends "base.html" %}
{% load static %}
{% block title %}Record View{% endblock %}

{% block main_content %}
{% url 'edit_record' record.slug as edit_url %}
{% url 'delete_record' record.slug as delete_url %}
{{ block.super }}
<section class="row">
    <header>
        <h2>Record: Detailed View</h2>
    </header>    
        <div class="col-12 col-sm-8">
            <div class="card-title">{{record}}</div>
            <p class="small">Location: {{record.location}}</p>
            <p>Artist: {{ record.artist }}<br>
                Title: {{record.a_side}}<br>
                B Side: {{record.b_side}}</p>
            <p>Spindle size: {% if record.large_hole %}Large{% else %}Small{% endif %}</p>
            <p>Notes:<br>{{record.notes}}</p>
            <p>Collection: <a href="{% url 'collections' %}{{record.collection.id}}">{{record.collection}}</a></p>
        </div>
        <div class="col-12 col-sm-4"><img src="{% static 'images/vinyl-placeholder.png' %}" alt="placeholder image">
    </div>
    {% if user.is_authenticated and user == record.collection.username.user %}
    <a class="btn btn-outline-primary btn-custom rounded-0" href="{{edit_url}}">Edit Record</a>
    <br>
    <a class="mt-2 btn btn-outline-warning btn-delete rounded-0" href="{{delete_url}}">Delete Record</a>
    {% else %}<hr>
    {% endif %}
</section>
{% endblock %}
{% block js_scripts %}
<!-- Bootstrap modal -->
        <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-custom">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modal-content">{{record}}</div>
                    </div>
                    <div class="modal-footer">
                        <a id="modalConfirm" href="#" class="btn btn-danger">Save changes</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal end -->
<script src="{% static 'js/delete-record.js'%}"></script>
{% endblock %}