{% extends 'base.html' %}
{% block title %}Checkout Form{% endblock %}
{% block extra_head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}"/>
    <script src="https://js.stripe.com/clover/stripe.js"></script>
    <script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock %}
{% block main_content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Premium upgrade form</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please complete the form below to action your upgrade</p>
            <form method="post" id="payment-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <label class="form-check-label small mb-2" for="id-save-info">Save above information to my profile</label>
                <input type="checkbox" class="form-check-input" id="id-save-info" name="save-info" checked>
                <fieldset class="mb-2">
                    <legend class="fieldset-label pe-2 w-auto">*Select your plan - {{user}}</legend>
                    <select id="item" name="item" class="form-select" required="">{% for prod in product %}
                        <option value="{{prod.sku}}">{{prod}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <!-- Stripe Elements -->
                <fieldset>
                    <legend class="fieldset-label small w-auto">Credit Card Payment (via Stripe)</legend>
                    <!-- Stripe card element will go here -->
                    <div class="bg-dark p-3 mb-3" id="card-element"></div>
                    <div class="small text-muted">No card details can be seen or saved by this app</div>
                    <!-- Used to display stripe errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <!-- Submit Button -->
                <div class="submit-button text-right mt-5 mb-2">
                    <button id="submit-button" class="w-100 btn btn-outline-primary btn-custom rounded-0">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text" class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                    <p class="small text-danger mt-0 mb-2">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>Your card will be charged <strong>&pound;<span id="selected-price">0.00</span></strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js_scripts%}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
{% endblock %}