{% extends "base.html" %}
{% block title %}Checkout Success{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}
{% block main_content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Successful checkout</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Order number:{{order.order_number}} - complete</p>
            <p>You are now a Premium user and your expiry date set to {{exp_date}}.
            {% if save_info %}Your info was saved for any future orders{% endif %}</p>
        </div>
    </div>
</div>
{% endblock %}