{% extends 'base.html' %}
{% block main_content %}
{% load static %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Premium upgrade form</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please complete the form below to action your upgrade</p>
            <form method="post" id="payment-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <!-- Stripe Elements -->
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                    <!-- Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display stripe errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <!-- Submit Button -->
                <div class="submit-button text-right mt-5 mb-2">
                    <button id="submit-button" class="btn btn-outline-primary btn-custom rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <i class="fas fa-exclamation-circle"></i>
                        <div id="selected_price">Your card will be charged <strong>&pound;<span>0.00</span></strong></div>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}