/* Colours from coolors.co */

:root {
    --main-brand:#2081a2;
    --light-accent:#eab380;    
    --light-shade:#63ad9d;
    --dark-accent: #8c364d;
    --dark-shade: #040b26;
    /* Bootstrap colour tweaks by colormind.io */
    --primary: #2789b6;
    --info: #040b26;
    --success: #41a46f;
    --warning: #be9437 ;
    --danger: #f44336;
    /* Fonts */
    --heading-font: "Pacifico", cursive;
    --title-font: "Handlee", cursive;
    --copy-font: "Maitree", serif;
}

/* Google Fonts via Fontjoy.com */
.heading-font {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
}
.title-font{
  font-family: var(--title-font);
}
.copy-font {
  font-family: var(--copy-font);
}
.copy-bold {
  font-family: var(--copy-font);
  font-weight: 700;
}

body {
    font-family: var(--copy-font);
    font-weight: 400;
    background-color:var(--dark-shade);
    color:var(--light-accent);
    margin:0;
    padding:0;
}

a {
    font-family: var(--title-font);
    color: var(--light-shade);
}

.nav-item {
    background-color:#040b26;
    border: #040b26 solid 1px;
    margin:4px 2px;
}
.nav-link:hover {
    color: var(--main-brand);
}
.active { 
    font-weight: bold;
    color: var(--light-shade);
}
h1, h2 {font-family: var(--heading-font);
}
/* styles for message container */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}
/* article styling */
.article-box {
    height:180px;
    max-width: 100%;
    margin-right:10px;
}
.article-box img {
    max-height: 144px;
}
.bg-custom {
    background-color: rgba(25, 25, 255, 0.1);
}

/* Media Queries */
/* md breakpoint */
@media (min-width:576px){
    .article-box {
        max-width:48%;
    }
}
@media (min-width:768px){
    .article-box {
        max-width:24%;
    }
}
