{% extends "base.html" %}
{% block title %}{{head_tag}} a Collection{% endblock %}

{% block main_content %}
{{ block.super }}

<div class="row">
    <div class="col-12 col-md-6">
        <h2>{{head_tag}} a Collection</h2>
        <form method="post" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right mt-2">
                <a class="btn btn-dark rounded-0" href="javascript:history.back()">Cancel</a>
                <button class="btn btn-outline-primary btn-custom rounded-0" type="submit">{{submit_text}}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}