{% extends "base.html" %}
{% block title %}Collection List{% endblock %}

{% block main_content %}
<h2>Collections</h2>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Owner</td>
            <td>links</td>
        </tr>
    </thead>
    {% for collection in object_list %}
    <tr>
        <td><strong>{{collection}}</strong></td>
        <td>{{collection.username.name}}</td>
        <td>
            <a href="{% url 'view_collection' collection.id %}">view</a>
            {% if request.user == collection.username.user %} | <a
                href="{% url 'edit_collection' collection.id %}">edit</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
