<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection List</title>
</head>

<body>
    <h1>Collections</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Owner</td>
                <td>link</td>
            </tr>
        </thead>
        {% for collection in object_list %}
        <tr>
            <td><h2>{{collection}}</h2></td>
            <td>{{collection.username}}</td>
            <td><a href="collection/{{collection.id}}/">{{collection}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>