{% extends "base.html" %}

{% block title %}500 - Server error!{% endblock %}

{% block content %}
<h1 class="text-center">Vinyl Potpourri</h1>
<div class="container mb-2 text-center">
    <h2>Oops! It's us, not you </h2>
    <p class="fs-1">That's a 500 server error</p>
    <p>Maybe a form you submitted or a rouge URL, but this should not
        have happened - we will give the devs a poke!
        You can try the links above, but you may end up back here--until the problem is fixed.</p>
    <p class="h1">Vinyl Potpourri</p>
</div>
{% endblock %}