{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

<!-- don't overwrite existing header from base.html -->
{% block header-image %}
<img class="col-12" src="{% static 'images/vinyl-potpourri-gemini_image_land.png' %}">
{% endblock header-image %}
{% block content %}
<h2>Collections</h2>
<div class="row container-fluid gap-3 justify-content-center">
    {% for collection in collection_list %}

    <article class="article-box bg-custom p-0 mb-2 col-12 col-sm-6 col-xl-4 col-xxl-3">

        <div class="p-1 bg-dark card-heading border-bottom">{{collection.username.name}}'s
            <strong>{{collection}}</strong>
        </div>
        <div class="p-2 card-inner">
            <!-- floating img right in css so text will wrap around it -->
            <img src="{% static 'images/vinyl-placeholder.png' %}" alt="placeholder image" class="img-fluid">

            <div class="mb-3 inner-text">
                <p class="mb-0">
                    <strong>Collection:</strong><br>
                    <a href="/collection/{{ collection.id }}/">{{ collection }}</a>
                </p>
                <!-- align text to bottom -->
                <p class="text-muted small overtype">
                    {{ collection.description|default:"No description available." }}
                </p>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}