{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

<!-- don't overwrite existing header from base.html -->
{% block header-image %}
 <img class="col-12" src="{% static 'images/vinyl-potpourri-gemini_image_land.png' %}">
{% endblock header-image %}
    {% block content %}
<h2>Collections</h2>
<div class="row">
    {% for collection in collection_list %}

    <div class="col-12 col-sm-6 col-md-3">
        <p class="card">{{collection.username}}'s <strong>{{collection}}</strong> collection:
            <a href="/collection/{{collection.id}}/">{{collection}}</a>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}