{% extends 'base.html' %}
{% block main_content %}
{% load static %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-4 m-2 text-center">
            <img class="img-fluid img-md-fixed"
             src="{% if about.image and about.image.url %}{{ about.image.url }}
             {% else %}
             {% static 'images/vinyl-placeholder.png' %}            
             {% endif %}" alt="About image">
        </div>
        <div class="col-md-7 m-2">
            <!-- title -->
            <h3>{{ about.title }}</h3>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 text-right">
            <!-- updated_on -->
            <p class="text-end small">Last Updated: {{ about.updated_on }}
            </p>
        </div>
        <div class="col-12 text-center">
            <p> Premium membership prices:</p>
            <p>
                {% for p in product %}
                <i class="fa fa-cc-stripe fs-4 px-2" aria-hidden="true"></i>{{ p.name}} &pound;{{p.price}}
                {% if not forloop.last %} or {% endif %} 
                {% endfor %}
            </p>
            
                <p>
                    <a class="btn btn-outline-warning rounded-0" href="{% url 'checkout' %}">
                    {% if not user.my_profile.premium %}Buy Premium{% else %}Extend Subscription{% endif %}</a>
                </p>
        </div>
    </div>
</div>
{% endblock %}